{% extends "IBMMTMBundle::layout.html.twig" %}
{% block body %}
 {% if pagination.getTotalItemCount > 0 %}
  <h1>Listing {{ pagination.getTotalItemCount }} customers</h1>
  {{ knp_pagination_filter(pagination, filtres, {'button': 'Search'}) }}
  <br />
  <div class="table-respnosive">
	  <table class="table table-striped">
	    <thead>
	       <th{% if pagination.isSorted('c.account') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Account', 'c.account') }}</th>
	       <th{% if pagination.isSorted('c.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'c.status') }}</th>
	       <th{% if pagination.isSorted('c.firstName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'First name', 'c.firstName') }}</th>
	       <th{% if pagination.isSorted('c.lastName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last name', 'c.lastName') }}</th>
	       <th{% if pagination.isSorted('c.address') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Address', 'c.address') }}</th>
	       <th{% if pagination.isSorted('c.city') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'City', 'c.city') }}</th>
	       <th{% if pagination.isSorted('c.state') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'State', 'c.state') }}</th>
	       <th>Balance</th>
	       <th>Actions</th>
	    </thead>
	    <tbody>
	       {% for entity in pagination %}
	       <tr>
	         <td>{{ entity.account }}</td>
	         <td>{% if entity.status == 'A' %}Active{% else %}Inactive{% endif %}</td>
	         <td>{{ entity.firstName }}</td>
	         <td>{{ entity.lastName }}</td>
	         <td>{{ entity.address }}</td>
	         <td>{{ entity.city }}</td>
	         <td>{{ entity.state }}</td>
	         <td>{% if entity.balance is not null %}{{ entity.balance.balance }}{% else %}0{% endif %} $</td>
	         <td>
	         	<a href="{{ path('customer_edit', {'account': entity.account}) }}" class="btn btn-success">Edit</a>
	            <a href="{{ path('customer_setstatus', {'account': entity.account}) }}" class="btn {% if entity.status == 'A' %}btn-warning{% else %}btn-primary{% endif %}">
	         	  {% if entity.status == 'A' %}Deactivate{% else %}Activate{% endif %}
	         	</a>
	         	<form action="{{ path('customer_delete', {'account': entity.account}) }}" method="post" class="confirm-form" style="display: inline;">
	         	  <input type="hidden" name="_method" value="DELETE" />
	         	  <input type="hidden" id="account" value="{{ entity.account }}">
	         	  <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete" data-title="Delete customer" data-message="Are you sure you want to delete this customer?">Delete</button>
	         	</form>
	         </td>
	       </tr>
	       {% endfor %}
	    </tbody>
	  </table>
  </div>
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
  {% else %}
  <h1>There are no customers</h1>
  {% endif %}
  <a href="{{ path('customer_new') }}" class="btn btn-success">Create new customer</a>
{% endblock %}