<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>  	
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Master The Mainframe Bank">
    <meta name="author" content="Mort_I2C">
    <link rel="shortcut icon" href="{{ asset('images/atm.png','bankapp') }}"> 
    
	<title>Master The Mainframe Bank</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css', 'bankapp') }}" rel="stylesheet">
    <!-- Demo CSS -->
    <!--link href="css/demo.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/login-theme-3.css', 'bankapp') }}" rel="stylesheet" id="fordemo">
    
    
    
    
    <!--link href="css/animate-custom.css" rel="stylesheet"--> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script async src="{{ asset('html5shiv/dist/html5shiv.js', 'bankapp') }}"></script>
      <script async src="{{ asset('respond/dest/respond.min.js', 'bankapp') }}"></script>
    <![endif]-->
    
{#      <script src="{{ asset('vendor/modernizr/modernizr.js', 'bankapp') }}" type="text/javascript" ></script>#}
   
  </head>
    <body>
    	<!-- start Login box -->
    	<div class="container" id="login-block">
    		<div class="row">
			    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
			    	 
			       <div class="login-box clearfix animated flipInY">
			       		<div class="page-icon animated bounceInDown">
			       			<img src="{{ asset('images/login-questionmark-icon.png', 'bankapp') }}" alt="Questionmark icon" />
			       		</div>
			        	<div class="login-logo">
			        		<a href="#"><img class="img-responsive" src="{{ asset('images/login-logo.png', 'bankapp') }}" style="max-width: 159px;" alt="Company Logo" /></a>
			        	</div> 
			        	<hr />
			        	<div class="login-form">
			        		<!-- Start Error box -->
			        		<div class="alert alert-danger hide">
								  <button type="button" class="close" data-dismiss="alert"> &times;</button>
								  <h4>Error!</h4>
								   Your Error Message goes here
							</div> <!-- End Error box -->
			        		<form action="#" method="get"  >
			        			<p>Enter your email address below and we'll send a special reset password link to your inbox.</p>
			        		 
						   		 <input type="email" placeholder="Email" class="input-field" required="true"/> 
						   		 
						   		 <button type="submit" class="btn btn-login btn-reset">Reset password</button> 
							</form>	
							<div class="login-links"> 
					             <a href="{{ path('login') }}">
					             Already have an account?  <strong>Sign In</strong>
					            </a>
							</div>      		
			        	</div> 
			       </div>
			    </div>
			</div>
    	</div>
    	 <!-- End Login box -->
     	<footer class="container">
     		<!--p id="footer-text"><small>Copyright &copy; 2013 <a href="http://ad-says.com/">AdSays Creation Pvt. Ltd.</a></small></p-->
     	</footer>
      
       {{ include('IBMMTMBundle::requirejs.html.twig', {'module': 'login,modernizr,placeholder'}) }}
{#          <script src="{{ asset('vendor/jquery/dist/jquery.min.js', 'bankapp') }}"></script>#}
{#         <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js','bankapp') }}"></script> #}
{#         <script src="{{ asset('vendor/placeholder-shim/jquery.placeholder-shim.js', 'bankapp') }}"></script>        #}
{#         <script src="{{ asset('js/login.js', 'bankapp') }}"></script>#}
    </body>
</html>
