<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
{% block meta %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Master The Mainframe Bank">
	<meta name="author" content="Mort_I2C">
	<link rel="shortcut icon"
		href="{{ asset('images/atm.png','bankapp') }}"
		type="image/jpeg" />
	
	{% endblock %} {% block title %}
	<title>Master The Mainframe Bank</title> {% endblock %} {% block
	stylesheet %}
	<!-- Le styles -->
	<link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css', 'bankapp') }}"
		rel="stylesheet">
	<link href="{{ asset('css/generic.css', 'bankapp') }}" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	      <script async src="{{ asset('vendor/html5shiv/dist/html5shiv.js', 'bankapp') }}"></script>
	    <![endif]-->
{% endblock %}
</head>
<body>
	{% block menu %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" class="{% if app.request.attributes.get('_route') == 'ibmmtm_homepage' %}active{% endif %}" href="{{ path('ibmmtm_homepage') }}">MTM Bank</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				  {% if app.user.role == 'ROLE_ADMIN' %}
					<li class="{% if app.request.attributes.get('_route') == 'customer' %}active{% endif %}"><a href="{{ path('customer') }}">Customers</a></li>
					<li class="{% if app.request.attributes.get('_route') == 'users' %}active{% endif %}"><a href="{{ path('users') }}">Users</a></li>
					<li class="{% if app.request.attributes.get('_route') == 'trans' %}active{% endif %}"><a href="{{ path('trans') }}">Transactions</a></li>
				  {% endif %}
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('logout') }}">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	{% endblock %}
	<div id="content">
		{% block missatges %}
			{% if app.session.flashbag.has('error') is not empty %}
			<div class="alert alert-danger alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				<p><strong>Error!</strong> The following errors ocurred:</p>
  				{% for flashMessage in app.session.flashbag.get('error') %}
					<p>{{ flashMessage }}</p>
				{% endfor %}
			</div>
			{% endif %}
			{% if app.session.flashbag.has('success') %}
			<div class="alert alert-success alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				<p><strong>Success</strong></p>
  				{% for flashMessage in app.session.flashbag.get('success') %}
					<p>{{ flashMessage }}</p>
				{% endfor %}
			</div>
			{% endif %}
			<!-- Confirm modal dialog -->
			<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Delete Parmanently</h4>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure about this?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			        <button type="button" class="btn btn-danger" id="confirm">Delete</button>
			      </div>
			    </div>
			  </div>
			</div>
		{% endblock %}
		{% block body %} 
		
		{% endblock %}
	</div>
	<!-- /container -->

	{% block javascript %}
{# 	<!-- Le javascript#}
{#     ================================================== -->#}
{# 	<!-- Placed at the end of the document so the pages load faster -->#}
{# 	<script src="{{ asset('vendor/jquery/dist/jquery.min.js', 'bankapp') }}"></script>#}
{# 	<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js', 'bankapp') }}"></script>#}
	<script async type="text/javascript">
	  function goBack()
	  {
	    window.history.back();
	  }
    </script>
	{% endblock %}
	{% block requirejs %}
		{{ include('IBMMTMBundle::requirejs.html.twig', {'module': 'utilities'}) }}
	{% endblock %}
</body>
</html>
